<!DOCTYPE html>
<html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ .resource.DesignUrl }}/css/common.css">
    <link rel="stylesheet" type="text/css" href="{{ .resource.DesignUrl }}/css/portal/restaurant.css">
</head>

<body>
    <h2>Smarest</h2>
    <form method="post" action="/portal/restaurant">
        <div class='container'>
            <label for='select_restaurant'><b>Restaurant</b></label>
            <select id="select_restaurant" name='code'>
        <option selected>--- Chon nha hang ---</option>
        {{ range $.resource.Restaurants }}
        <option value="{{ .code }}">{{ .name }}</option>
        {{ end }}
      </select>
            <button type='submit'>OK</button> {{ range .resource.ErrorMessages }}
            <div id='message'>{{ . }}</div>
            {{ end }}
        </div>
        <input type='hidden' name='frm' value='{{ .resource.FromURL }}'>
    </form>
</body>

</html>